@import "tailwindcss";
@plugin "daisyui";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme {
    --animate-toast: toast 1s ease-in-out both;
    @keyframes toast {
      0% {
        transform: translateY(-64px);
        opacity: 0%
      }
      100% {
        transform: translateY(20px);
        opacity: 100%
      }
    }
  }

  .gradient {
    background: linear-gradient(180deg,rgba(17, 24, 39, 0.64) 0%, rgba(17, 24, 39, 0.78) 100%);
  }